{namespace templ.mbi.inj}


/**
* Web page mbinfo desktop
*/
{template .menubar}
 <div id="mbi-mebubar" class="goog-menubar">
  <div id="placeButton" class="goog-menu-button" title="MBInfo">
    <span style="vertical-align:middle">MBInfo</span>
    <div id="placeMenu" class="goog-menu">
      <div class="goog-menuitem" id="place-figure">Insert figure</div>
      <div class="goog-menuitem" id="citation">Insert citation</div>
      <div class="goog-menuitem" id="annotate-protein">Annotate protein</div>
      <div class="goog-menuitem" id="annotate">Annotate</div>
      <div class="goog-menuitem" id="clean">Clean HTML</div>
    </div>
  </div>
</div>
{/template}

/**
* List of figures.
* @param url figure url.
* @param src image src
*/
{template .insertFigure}
<div style="display:block;text-align:left">
  <a href="{$url}"><img border="0" src="{$src}"></a>
</div>
{/template}


/**
* List of figures.
*/
{template .annotateDialog}
<form class="annotate-dialog">
   <div>
   <label for="name" title="Case sensitive protein family name, such as 'Actin'.">Protein family:</label><br/>
   <input type="text" name="name" />
   </div><div>
   <label for="uniprot" title="Specific protein.">UniProtId:</label><br/>
   <input type="text" name="uniprot" />
   </div><div>
   <label for="go" title="Gene ontology annotations.">GO:</label><br/>
   <input type="text" name="go" />
   </div>
</form>
{/template}