
/*
 * Select fonts from https://fonts.googleapis.com
 * Then copy css content of the resulting link url.
 * Eg: https://fonts.googleapis.com/css?family=Poiret+One|Roboto:500|Open+Sans:400italic,400,700
 *
 * Download all font and upload to mbi-data bucket
 * See upload-font.sh script to do that
 * Then change domain to mbi-data.storage.googleapis.com
 */




@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://www.mechanobio.info/static/fonts/roboto/v10/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
