
.we-are-hiring {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: red;
    padding: 4px 8px;
    overflow: hidden;
    white-space: nowrap;

}

.we-are-hiring.home {
    width: 0;
}

.we-are-hiring a {
    color: white;
    text-decoration: none;

}

#banner:hover .we-are-hiring.home {
    -webkit-animation: peek 2s linear;
    animation: peek 2s linear;
}

.we-are-hiring.home:hover {
     width: auto !important;
}


div > .marquee {
    text-align: right;
}

.marquee {
    -webkit-animation: goRight 4s linear;
    animation: goRight 4s linear;
}


.marquee-out {
    -webkit-animation: goOut 4s linear;
    animation: goOut 4s linear;
}

@keyframes goRight {
    0%   {width: 0;}
    100% {width: auto;}
}

@-webkit-keyframes goRight {
    0%   {width: 0;}
    100% {width: auto;}
}

@keyframes goOut {
    0%   {width: auto;}
    100% {width: 0;}
}

@-webkit-keyframes goOut {
    0%   {width: auto;}
    100% {width: 0;}
}

@-webkit-keyframes peek {
    0%   {width: 0;}
    20% {width: 8px;}
    50% {width: 0px;}
    75% {width: 8px;}
    100% {width: 0;}
}

@keyframes peek {
    0%   {width: 0;}
    20% {width: 8px;}
    50% {width: 0px;}
    75% {width: 8px;}
    100% {width: 0;}
}